.container {
    padding: 20px;
}

.formContainer {
    margin-top: 20px;
}

.container {
    padding: 20px;
    background-color: #ffffff;
}

.newsCard {
    margin-bottom: 20px;
}

.newsCard .MuiCardContent-root {
    padding: 16px;
}

.newsCard .MuiTypography-h6 {
    margin-bottom: 10px;
}

.newsCard .MuiTypography-body2 {
    color: #333333;
}

.admin-layout-container {
    transition: margin-left 0.5s;
    width: 100%;
}


/* Khi crop menu mở */

.admin-layout-container.crop-menu-open {
    margin-left: 250px;
    width: calc(100% - 250px);
}